ul.menu-bar {
  width: 1040px;
  margin: 0 auto;
  padding-top: 20px;
  height: 400px;

  li {
    float: left;
    padding: 15px;
    padding-top: 0px;
    margin-right: 10px; 
    list-style: none;

    a {
      color: white;
      text-decoration: none;
      font-family: Vollkorn, serif;
      font-size: 14px;

      &:hover {
        color: orange;
      }
    }
  }
}